# Виртуальное окружение
.venv/
.env

# Кэш Python
__pycache__/
*.pyc

# Директория сборки
dist/
*.egg-info/

# Файлы версий Python
.python-version

# Файл блокировки зависимостей (если не хотите его коммитить)
uv.lock
